<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT twoColumns ANY>
<!ATTLIST twoColumns id ID #REQUIRED>
<!ELEMENT threeColumns ANY>
<!ATTLIST threeColumns id ID #REQUIRED>
<!ELEMENT oneColumn ANY>
<!ATTLIST oneColumn id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT innerPage ANY>
<!ATTLIST innerPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1066" key="5006b164-9246-4333-968d-3ae709014f39" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-26T23:04:06" updateDate="2018-09-26T23:04:06" nodeName="Home" urlName="home" path="-1,1066" isDoc="" nodeType="1063" creatorName="Rafaelle Villegas" writerName="Rafaelle Villegas" writerID="0" template="1065" nodeTypeAlias="home" isPublished="true">
    <innerPage id="1082" key="6622a9f6-e51b-4b35-a7ed-2c11e851263e" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2018-09-26T23:56:12" updateDate="2018-09-27T01:53:33" nodeName="EL NIDO" urlName="el-nido" path="-1,1066,1082" isDoc="" nodeType="1069" creatorName="Rafaelle Villegas" writerName="Rafaelle Villegas" writerID="0" template="1085" nodeTypeAlias="innerPage" isPublished="true">
      <banner id="1084" key="8b51768a-5603-447e-a092-9e95991dfaeb" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2018-09-27T00:01:13" updateDate="2018-09-27T02:06:58" nodeName="Banner" urlName="banner" path="-1,1066,1082,1084" isDoc="" nodeType="1078" creatorName="Rafaelle Villegas" writerName="Rafaelle Villegas" writerID="0" template="0" nodeTypeAlias="banner" isPublished="true">
        <title><![CDATA[El Nido Palawan Philippines]]></title>
        <imageBanner><![CDATA[umb://media/5839a9bae10b499a9da84f0d3dbd4c12]]></imageBanner>
        <multiLinkSection><![CDATA[[
  {
    "caption": "Learn More",
    "link": "https://www.lakwatsero.com/destinations/travel-guide-el-nido/",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Learn More"
  }
]]]></multiLinkSection>
      </banner>
      <threeColumns id="1088" key="c19e8274-2378-422a-b9fe-4d3265cf581c" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2018-09-27T01:47:12" updateDate="2018-09-27T01:47:12" nodeName="El Nido" urlName="el-nido" path="-1,1066,1082,1088" isDoc="" nodeType="1079" creatorName="Rafaelle Villegas" writerName="Rafaelle Villegas" writerID="0" template="1072" nodeTypeAlias="threeColumns" isPublished="true">
        <copy3><![CDATA[History. El Nido has been inhabited by humans as early 2680 BC, or even up to 22,000 years ago. ... In 1890, the Spaniards renamed it as Bacuit. At the time, the center of the town was Cabigsing, then known as Inventario.]]></copy3>
        <copy2><![CDATA[El Nido is a Philippine municipality on Palawan island. It’s known for white-sand beaches, coral reefs and as the gateway to the Bacuit archipelago, a group of islands with steep karst cliffs. Miniloc Island is famed for the clear waters of its Small and Big lagoons. Nearby Shimizu Island has fish-filled waters. The area has many dive sites, including Dilumacad Island’s long tunnel leading to an underwater cavern.]]></copy2>
        <photo1><![CDATA[umb://media/6781cffb04dc4c5dadc0ce8afb74d823]]></photo1>
      </threeColumns>
    </innerPage>
    <innerPage id="1090" key="bf97ed68-8f6b-4d53-afe9-b2abb7623880" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2018-09-27T02:08:48" updateDate="2018-09-27T02:08:48" nodeName="BATANES" urlName="batanes" path="-1,1066,1090" isDoc="" nodeType="1069" creatorName="Rafaelle Villegas" writerName="Rafaelle Villegas" writerID="0" template="1085" nodeTypeAlias="innerPage" isPublished="true">
      <twoColumns id="1092" key="d9251939-33f2-4170-8f9e-1e00a1070d1c" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2018-09-27T02:13:21" updateDate="2018-09-27T03:00:48" nodeName="History Of Batanes" urlName="history-of-batanes" path="-1,1066,1090,1092" isDoc="" nodeType="1076" creatorName="Rafaelle Villegas" writerName="Rafaelle Villegas" writerID="0" template="0" nodeTypeAlias="twoColumns" isPublished="true">
        <photo1><![CDATA[umb://media/8f307b0eab1f4b92b98854dac6102eb9]]></photo1>
        <copy2><![CDATA[Early Batanes. A powerful chief called Mangpus whose authority was supreme and absolute ruled the islands. . He exacted revenues, administered justice, and armed the whole town to avenge the injury of the inhabitants. Mapolons are subordinate officials who exercised the same duties, rights and privileges in his particular district.  When the rule under the governorship was established in the lowlands during the Spanish Inquisition, the natives came down from the mountains to accustom themselves ]]></copy2>
      </twoColumns>
      <oneColumn id="1093" key="06bbafad-9acd-4662-adbf-372000557e9d" parentID="1090" level="3" creatorID="0" sortOrder="1" createDate="2018-09-27T02:21:28" updateDate="2018-09-27T02:22:00" nodeName="Facts about batanes" urlName="facts-about-batanes" path="-1,1066,1090,1093" isDoc="" nodeType="1075" creatorName="Rafaelle Villegas" writerName="Rafaelle Villegas" writerID="0" template="1071" nodeTypeAlias="oneColumn" isPublished="true">
        <copy1><![CDATA[The island-province of Batanes was created by a series of volcanic activities and other geologic forces millions of years ago.     The province is home to the famous Ivatans who are nationally acclaimed as the "True Insulares." The Ivatans are of Malay stock, tracing their roots to early immigrants from Formosa, Taiwan as well as Spaniards who came to the island in the 16th century. Being an insular people, the Ivatans have kept the purity of their gene pool through time. Batanes lies at the nor]]></copy1>
      </oneColumn>
    </innerPage>
  </home>
</root>