@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "DiversifyMasterPage.cshtml";
}

@* the fun starts here *@


    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Diversify Umbraco Test</h1>
          <div class="text-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Contents</h2>
            <h5 class="description">
                Nodes of the <u>Content</u> 
                <br>
                Home > Inner Page > One / Two / Three Columns. 
                <br><br>
                If <i>PHOTO</i> is empty then, page will read the corresponding <i>COPY</i>
                
            </h5>
          </div>
        </div>
      </div>
    </div>

