@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    var navs = new List<IPublishedContent>();

    var root = Umbraco.TypedContentAtRoot();

    if (root != null)
    {
        var home = root.First(x => x.DocumentTypeAlias == "home");

        navs = home.Descendants("innerPage").ToList();

    }


    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="../">Back to Home</a>
        </li>
        @foreach (var nav in navs)
        {
           
        <li class="nav-item">
            <a class="nav-link" href="@nav.Url">@nav.Name</a>
        </li>

        }

    </ul>
   

}
